<launch>
  <arg name="geotiff_map_file_path" default="./hector_maps"/>

  <param name="/use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosplay"
        args="-d 5 -r 1 --clock --hz 10 /home/ros/Downloads/5patromoreslower.bag"/>
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
        <!-- <remap from="scan" to="base_scan"/> -->
	<param name="map_update_distance_thresh" value="0.1"/>
	<param name="map_resolution" value="0.04"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="/home/ros/Projekty/Kuhajda/catkin_ws_cart/install_isolated/share/cartographer_ros/configuration_files/demo_2d.rviz" />

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>
</launch>
